.battle-bg {
  display: flex;

  background-color: var(--cor-12);
  margin: 0px auto; /* Centralise content even in bigger screen*/
  max-width: 1200px;
}
.battle-conteiner {
  padding: 50px;
  color: var(--cor-4);
}

.battle-conteiner h1,
h3 {
  margin-top: 100px;
  color: var(--cor-2);
  font-weight: 200;
}

#battles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 300px;
  margin-top: 100px;
  align-items: center;
}
.battle-image {
  width: 300px;
  height: 450px;
  object-fit: scale-down;
}
@media (max-width: 1020px) {
  #battles {
    gap: 10px;
    flex-direction: column;
  }
}
