.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap; /* It allows flex to break into a new line
    if necessary*/
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px;
  box-sizing: border-box; /* It takes padding into account when we set max-width*/
  max-width: 1200px;
  margin: 0 auto; /* Centralise content even in bigger screen*/
}
.header img {
  margin-top: 10px;
  justify-content: left;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.list-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.list-menu a {
  color: var(--cor-5);
  margin-top: 20px;
  margin-left: 20px;
  display: inline;
}
.list-menu a:hover {
  background-color: var(--cor-10);
  padding: 10px 2px;
  box-sizing: border-box;
  border-color: 2px solid var(--cor-p3);
  border-radius: 4px;
  transition: 1.2s;
  margin-top: 16px;
  margin-left: 16px;
  color: var(--cor-1);
}
#bar {
  padding: 5px;
  height: 30px;

  width: 100%;
  background-color: var(--cor-1);
  outline-color: var(--cor-p2);

  border: none;
}
.btn {
  background-color: var(--cor-1);
  padding: 7px;
  outline-color: var(--cor-p2);
  border: none;
}
