.intro-bg {
  display: flex;
  justify-content: end;
  background-color: black;
  margin: 0px auto; /* Centralise content even in bigger screen*/
  max-width: 1200px;
}
.intro-conteiner {
  padding: 200px;
}
.intro-conteiner h1 {
  color: var(--cor-2);
  font-weight: 200;
}
li > a {
  color: aliceblue;
}
